<% provide :title, t("title") %>
<div class="center jumbotron">
  <h1><%= t "title" %></h1>
  <h2>
    <%= link_to t(".users"), users_path , class: "btn btn-lg btn-primary" %>
    <%= link_to t(".radar"), signup_path , class: "btn btn-lg btn-primary" %>
    <%= link_to t(".ready"), signup_path , class: "btn btn-lg btn-primary" %>
  </h2>
</div>
