$gray-medium-light: #eaeaea;
$gray: #555;
$gray-100: #bbb;
$gray-light: #777;
$gray-darker: #222;
$state-danger-text: #a94442;
$white: #fff;
$gray-lighter: #d3d3d3;
$primary: #654ad2;
$danger: #FF4D5F;
$success: #16d23d;
$warning: #eabb0b;
$border-color: #b1c9c0;
$green-light: #89DA59;
$white-darker: #f2f7f5;
$red-light: #f98866;
$bunker: #343A40;
$cloud-burst: #3a3f48;
$cloud-burst-light: #818896;
$white: #ffffff;
$deep-sky-blue: #16c7ff;
$dark-red: #980303;
$fern: #5cb85c;
$black-opacity: rgba(0, 0, 0, 0.8);
$golden-poppy: #FFC312;
